<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <base href="{% block base %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    {{ getCss() }}

</head>

<body>

<div ng-app="sbAdminApp">
    {% if content %}
        {{ content|raw }}
    {% else %}
        <div ui-view></div>
    {% endif %}
</div>

{{ getJs() }}

</body>

</html>
